.learning h1 {
  color: var(--text-main);
  font-weight: semi-bold;
  font-size: 28px;
}
.learning h2 {
  color: var(--text-main);
  font-weight: semi-bold;
  font-size: 24px;
} 
.learning h3 {
  color: var(--text-main);
  font-weight: semi-bold;
  font-size: 20px;
}
.learning h4 {
  color: var(--text-main);
  font-weight: semi-bold;
  font-size: 18px;
}
.learning strong {
  color: var(--text-main);
  font-weight: semi-bold;
  font-size: 18px;
}
/* မှန်ရင် ပြမယ့်အရောင် */
.quiz-select.correct {
  border-color: #22c55e;
  background-color: var(--card);
  color: #15803d;
}

/* မှားရင် ပြမယ့်အရောင် */
.quiz-select.incorrect {
  border-color: #ef4444;
  background-color: var(--card);
  color: #b91c1c;
}

.result-text {
  margin-top: 10px;
  font-weight: semi-bold;
}
.text-green { color: #22c55e; }
.text-red { color: #ef4444; }