.login-image {
    width: 100%;
    height: 150px;
    background-image: url("../image/forLogin.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -70px 100px #111111;
    border-radius: 8px;
}
.register-image {
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
    background-image: url("../image/forRegister.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -89px 80px #111111;
}

.hero-img {
    height: 300px; width: 360px;
    border-radius: 50px;
    outline-color: var(--primary);
    outline-width: 2px;
    outline-offset: 5px;
    border: 2px solid var(--primary);
    outline-style: dashed;
    animation: change 5s linear alternate infinite;
    background-image: url("../image/micro.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}