.login-image {
    width: 100%;
    height: 150px;
    background-image: url("../../public/assets/forLogin.webp");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -20px 40px var(--bg);
    border-radius: 8px;
}
.register-image {
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
    background-image: url("../../public/assets/forRegister.webp");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -20px 40px var(--bg);
    border-radius: 8px;
}

@keyframes change {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(25deg);
    }
}