@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));


/* blockquote မှာ အလိုအလျောက် ပေါ်နေတဲ့ quotes တွေကို ဖျက်တာပါ */
.prose blockquote p::before, 
.prose blockquote p::after {
  content: none !important;
}

/* ===========================
   LIGHT MODE (DEFAULT)
=========================== */
 :root {
  --bg: #F4F7FB;
  --bg-card: #FFFFFF;
  --bg-soft: #E9EEF7;

   --primary: #7E22CE;
  --primary-soft: rgba(106, 0, 230, 0.1);

  --line: #5200B3;
  
  --secondary: #0891B2;
  --secondary-soft: rgba(0, 184, 230, 0.1);

  --accent: #EC4899;
  --accent-soft: rgba(236, 72, 153, 0.1);

  --text-main: #0F172A;
  --text-secondary: #2A3147;
  --text-muted: #5C6370;

  --border: #DCE3F0;

  --success: #00C27A;
  --warning: #F59E0B;
  --error: #E63946;
  --info: #0077FF;

  --gradient-primary: linear-gradient(135deg, #00B8E6, #6A00E6);
  --gradient-soft: linear-gradient(135deg, rgba(0,184,230,0.15), rgba(106,0,230,0.15));
}

/* ===========================
   DARK MODE
=========================== */
 [data-theme="dark"] {
  --bg: #050B1E;
  --bg-card: #0F172A;
  --bg-soft: #111522;

  --primary: #A855F7;
  --primary-soft: rgba(112, 0, 255, 0.1);

   --secondary: #22D3EE;
  --secondary-soft: rgba(0, 209, 255, 0.1);

  --accent: #F472B6;
  --accent-soft: rgba(244, 114, 182, 0.1);

  --line: #00A8CC;

  --text-main: #F1F5F9;
  --text-secondary: #B8C1EC;
  --text-muted: #8892B0;

  --border: #1F2538;
  
   --success: #00C27A;
  --warning: #F59E0B;
  --error: #E63946;
  --info: #0077FF;

  --gradient-primary: linear-gradient(135deg, #00B8E6, #6A00E6);
  --gradient-soft: linear-gradient(135deg, rgba(0,184,230,0.15), rgba(106,0,230,0.15));
}

/* Tailwind v4 Custom Theme Mapping */
@theme {
  
  --color-bg: var(--bg);
  --color-card: var(--bg-card);
  --color-soft: var(--bg-soft);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);

  --color-secondary: var(--secondary);
  --color-secondary-soft: var(--secondary-soft);

  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);

  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

   --color-border: var(--border);

   --shadow-md: 0 4px 16px var(--text-secondary); 
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  scrollbar-gutter: stable;
}
body {
  @apply bg-bg text-text-main transition-all duration-300;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}